body {
    color:white;
    background-color: black;
    padding: 10px;
}
html, body {
    height: 100%;
}
#content {
    height: 100%;
    margin: auto;
}
#error {
    margin: auto;
    display: block;
}

h3 {
    font-size:15px;
}

.titre{
    color: black;
}

.inverser {
    filter:invert(1);
}

.bg{
	background: #fff;
	background-image: url(bg.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.searchbar{
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.result{
    position : relative;
    top : 80px;
}

.retour{
    position: fixed;
    right: 40px;
    top : 50px;
    z-index: 10;
}

.story{
    color : black;
    font-size: 15pxpx;
}

.table-result {
    display: none;
}